:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #F72C00;
    --secundario: #00C1FF;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px;
    font-family: "poppins", sans-serif;
    background: rgb(73,67,179);
    background: linear-gradient(90deg, rgba(73,67,179,0.3841911764705882) 0%, rgba(2,212,255,0.14049369747899154) 100%);
}

/* Títulos y Subtítulos */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

.titulo {
    text-align: center;
}

/* Navegador */
.nav-bg {
    background-color: var(--secundario);
}

.navegador {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secundario);
    font-size: 2rem;
}

@media (min-width: 480px) {
    .navegador {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegador a:hover {
    background-color: var(--blanco);
    color: var(--oscuro);
}

.navegador a {
    padding: 1rem;
    text-decoration: none;
}

/* Campus */
.campus-bg {
    background-image: url(../img/imagen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3rem;
}

.campus {
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.3rem;
}

.campus p {
    color: white;
    font-size: 3rem;
    font-weight: 450;
}

.campus span {
    font-size: 3.3rem;
    font-weight: 650;
}

.campus .svg-color {
    fill: var(--grisclaro);
}

.campus svg {
    width: 10rem;
    height: 10rem;
}

/* Nostros */
.nosotros {
    padding: 0 5rem;
    margin: 1rem 0;
}

/* Carreras */
@media (min-width: 480px) {
    .carreras-inglic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        place-items: center;
        text-align: center;
        column-gap: 10rem;
    }
}

.carreras {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.carreras h3 {
    font-size: 4rem;
    font-weight: 250;
}

.carreras .iconos {
    width: 10rem;
    height: 10rem;
}

/* Comunidad */
.comunidad-personas {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5rem
}

@media (min-width: 480px) {
    .comunidad-personas {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
    }
}

.comunidad-personas svg {
    width: 8rem;
    height: 8rem;
}
/* Contacto */
.contacto-bg {
    background-color: var(--blanco);
    padding-top: 4px;
}

.contacto-rs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contacto-rs {
        display: flex;
        flex-direction: row;
        column-gap: 5rem;
        justify-content: center;
    }
}

.contacto-rs svg {
    width: 3rem;
    height: 3rem;
}

.red-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    text-align: center;
    font-size: 1.5rem;
}